# LLM
openai
langchain
langchain-openai
langchain-community
langchain-ollama

# RAG
llama-index

# Vector Database
chromadb
faiss-cpu

# Embedding
sentence-transformers

# Document Loader
pypdf
python-docx
unstructured
beautifulsoup4

# Utility
python-dotenv
tiktoken
pydantic

# API
fastapi
uvicorn

# Notebook
jupyter
ipykernel